<td-layout>
    <td-layout-nav toolbarTitle="" navigationRoute="/">
        <td-layout-manage-list>

            <mat-toolbar td-sidenav-content>
                <mat-toolbar-row>
                    <span>Menu</span>
                </mat-toolbar-row>
            </mat-toolbar>

            <div td-sidenav-content>
                <mat-nav-list>

                    <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
                        <a mat-list-item
                            style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                            [routerLink]="[item.route]" [routerLinkActive]="['active']">
                            <mat-icon>{{item.icon}}</mat-icon>
                            {{item.title}}
                        </a>
                    </ng-template>

                </mat-nav-list>
            </div>
            <router-outlet></router-outlet>
        </td-layout-manage-list>
    </td-layout-nav>
</td-layout>