<mat-card>
    <mat-card-title>Nueva Persona</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form #personaForm="ngForm">
            <div layout="row">
                <mat-form-field fles>
                    <input matInput
                     [(ngModel)]="persona.cedula"
                     #elementCedulaControl="ngModel"
                     type="text"
                     name="Cedula"
                     placeholder="Cedula"
                     required>
                     <mat-hint alig="start">
                        <span [hidden]="elementCedulaControl.pristine || !elementCedulaControl.errors?.required" class="tc-red-600"> Requerido
						</span>
                     </mat-hint>
                </mat-form-field>
            </div>
            <div layout="row">
                <mat-form-field fles>
                    <input matInput
                     [(ngModel)]="persona.nombre"
                     #elementNControl="ngModel"
                     type="text"
                     name="Nombre"
                     maxlength="50"
                     placeholder="Nombre"
                     required>
                     <mat-hint alig="start">
                        <span [hidden]="elementNControl.pristine || !elementNControl.errors?.required" class="tc-red-600"> Requerido
						</span>
                     </mat-hint>
                </mat-form-field>
            </div>
            <div layout="row">
                <mat-form-field fles>
                    <input matInput
                     [(ngModel)]="persona.apellido"
                     #elementAControl="ngModel"
                     type="text"
                     name="Apellido"
                     maxlength="50"
                     placeholder="Apellido"
                     required>
                     <mat-hint alig="start">
                        <span [hidden]="elementAControl.pristine || !elementAControl.errors?.required" class="tc-red-600"> Requerido
						</span>
                     </mat-hint>
                </mat-form-field>
            </div>
            <div layout="row">
                <mat-form-field fles>
                    <input matInput
                     [(ngModel)]="persona.edad"
                     #elementEControl="ngModel"
                     type="number"
                     name="Edad"
                     placeholder="Edad"
                     required>
                     <mat-hint alig="start">
                        <span [hidden]="elementEControl.pristine || !elementEControl.errors?.required" class="tc-red-600"> Requerido
						</span>
                     </mat-hint>
                </mat-form-field>
            </div>
            <div layout="row">
                <mat-form-field fles>
                    <input matInput
                     [(ngModel)]="persona.genero"
                     #elementGeneroControl="ngModel"
                     type="text"
                     name="Genero"
                     maxlength="50"
                     placeholder="Genero"
                     required>
                     <mat-hint alig="start">
                        <span [hidden]="elementGeneroControl.pristine || !elementGeneroControl.errors?.required" class="tc-red-600"> Requerido
						</span>
                     </mat-hint>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
		<button mat-button [disabled]="!personaForm.valid" color="primary" (click)="createPersona()">
		Guardar </button>
	</mat-card-actions>


</mat-card>